
<div class="hero-content has-text-centered">
  <div class="container">
    <h1 class="title is-1 is-bold grey-mint">{{@blog.title}}</h1>
    <h2 class="subtitle is-4 grey-gallery">
      {{@blog.description}}
      {{> social}}
    </h2>
  </div>
</div>
