<div class="columns">
  <div class="column">

    <div class="columns">
      <div class="column">
        <h3 class="title dark"><strong><i class="fa fa-code"></i></strong></h3>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <ul>
          <li>PHP / Laravel</li>
          <li>MySQL</li>
          <li>Blade / HTML5</li>
          <li>SASS / CSS3</li>
          <li>ES6 / JavaScript / jQuery / AJAX / JSON</li>
          <li>Bootstrap</li>
          <li></li>
          <li>gulp / Webpack (via Laravel Mix)</li>
          <li>PHPUnit / Laravel Dusk</li>
          <li>&nbsp;</li>
          <li>WordPress</li>
          <li>Ruby on Rails</li>
          <li>Node.js / Express</li>
          <li>Markdown</li>
          <li>XML</li>
        </ul>

      </div>
    </div>

  </div>

  <div class="column">

    <div class="columns">
      <div class="column">
        <h3 class="title dark"><strong><i class="fa fa-code-fork"></i></strong></h3>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <ul>
          <li>Git / GitLab / GitHub</li>
          <li>GitLab Pipelines CI / CD</li>
        </ul>

      </div>
    </div>

  </div>

  <div class="column">

    <div class="columns">
      <div class="column">
        <h3 class="title dark"><strong><i class="fa fa-hdd-o"></i></strong></h3>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <ul>
          <li>Digital Ocean</li>
          <li>Cloudflare</li>
          <li>Docker</li>
          <li>Amazon S3</li>
          <li>nginx</li>
          <li>Envoyer</li>
          <li>letsencrypt</li>
          <li>Apache</li>
          <li>CentOS / Ubuntu / System Administration</li>
          <li>Capistrano</li>
          <li>Deployer</li>
          <li>&nbsp;</li>
          <li>Vagrant / Virtual Box</li>
        </ul>

      </div>
    </div>

  </div>

  <div class="column">

    <div class="columns">
      <div class="column">
        <h3 class="title dark"><strong><i class="fa fa-cogs"></i></strong></h3>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <ul>
          <li>PHPStorm</li>
          <li>Sublime Text</li>
          <li>Photoshop</li>
          <li>Illustrator</li>
          <li>sketch</li>
          <li>Microsoft Office</li>
          <li>OS X</li>
          <li>Windows</li>
        </ul>

      </div>
    </div>

  </div>
</div>