<p>
  <a class="icon grey-gallery" href="https://stackoverflow.com/users/634120/martincarlin87">
    <i class="fa fa-stack-overflow"></i>
  </a>
  <a class="icon grey-gallery" href="https://www.instagram.com/martincarlin87/">
    <i class="fa fa-instagram"></i>
  </a>
  <a class="icon grey-gallery" href="https://twitter.com/martincarlin87">
    <i class="fa fa-twitter"></i>
  </a>
  <a class="icon grey-gallery" href="https://github.com/martincarlin87">
    <i class="fa fa-github"></i>
  </a>
  <a class="icon grey-gallery" href="https://gitlab.com/martincarlin87">
    <i class="fa fa-gitlab"></i>
  </a>
  <a class="icon grey-gallery" href="http://codepen.io/martincarlin87/">
    <i class="fa fa-codepen"></i>
  </a>
  <a class="icon grey-gallery" href="https://www.linkedin.com/in/martincarlin87">
    <i class="fa fa-linkedin-square"></i>
  </a>
</p>
